* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 36vh;
        background-image: url(resources/background-image.png);
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size:contain;
        font-family:Inter,Arial;
        align-items: center;    
        justify-items: center;


        
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
        margin-top: 20px;

      }

      .author-info a {
        text-decoration: none;
      }
      .header{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top:50px;

      }

        .title {
        font-size: 24px;
        color:#FFFFFF;
        font-weight:700;
        margin-right:20px;
      }
      .items-numb{
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #1D1D1F;
        border-radius:14px;
        width:80px;
        height:30px;
        font-size:16px;
        color:#FFFFFF;
      }

      .content-container{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        column-gap:0;
        margin-top:40px;
        border-radius:20px;
        overflow: hidden;
        width:100%;
        max-width:1300px;
        min-width:100px;
        box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
      }
       .part-one, .part-tow{
        flex:1;
        width:100%;
        max-width:700px;
        min-width:400px;
  
       }

       .part-one{
        background-color:#E5E7EB;
        height:600px;
        padding:30px;
        

      }

      .product{
        display:flex;
      }

      .picture-container{
        flex: 0 0 100px;
        background-color:#FFFFFF;
        border-radius:8px;
        border-color:#D2D5DA;
        border-style:solid;
        border-width: 1px;
        height:100px;
        width:100px;
        padding:10px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right:20px;
        margin-bottom:20px;

        
      }
      .product-picture{
       max-height: 80%; 
       max-width: 80%;
       object-fit: contain;
       display: block;
        
      }
      .container{
        display:flex;
        justify-content: space-between;
        width:90%;
        max-width:500px;
        min-width:460px;
        flex-wrap: wrap;
        
        margin-bottom:8px;
      }
      .product-name {
        font-weight:600;
        color:#1D1D1F;
        font-size:16px;
      }
      .price{
        font-weight: 600;
      }
      .product-color, .number, .close{
        color:#394150;
        font-weight: 500;
        
      }
      .number, .close{
        font-weight: 400;
        margin-top:20px;
      }
      .close{
        font-size: 22px;
      }
      .separated-line{
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        margin-bottom:20px;
      }
      .cupon-code{
        display:flex;
        margin-bottom:20px;
        width:100%;
        max-width: 700px;
        min-width:25px;
      }

      .cupon-input{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        max-width:450px;
        min-width:200px;
        height:50px;
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        border-radius: 8px;
        margin-right:8px;
        padding:12px;
        font-weight: 500;
        font-size: 16px;
        color:#394150;
      }
      .cupon-input::placeholder{
        color:#394150;
      }
      .cupon-button{
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: #1D1D1F;
        color:#FFFFFF;
        font-weight:500;
        font-size: 16px;
        width:100%;
        max-width:140px;
        min-width:80px;
        height:50px;
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        border-radius: 8px;
        padding:8px;
      }
      .product-cost{
        line-height: 30px;

      }
      .cost-container{
        display:flex;
        align-items:center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        color:#394150;
        
      }
      .total-cost{
        display:flex;
        align-items:center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        color:#1D1D1F;
      }

      .part-tow{
        background-color: #FFFFFF;
       
        padding:30px;
        height:600px;

      }
      .information-part{
        font-size: 16px;
        font-weight: 700;
        color:#1D1D1F;
        
      }
      .input-title{
        font-size: 16px;
        font-weight: 600;
        color:#394150;
        margin-top:30px;
      }
      .input{
        width:100%;
        max-width:600px;
        min-width:100px;
        height:60px;
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        border-radius: 8px;
        margin-right:5px;
        padding:12px;
        font-weight: 500;
        font-size: 16px;
        color:#394150;
        background-color: #F3F4F6;
        margin-top:15px;
      }
      .input::placeholder{
        color:#394150;
      }
      .second-information-part{
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin-top:15px;
        flex-wrap: wrap;
      }

      .second-input-title{
        font-size: 16px;
        font-weight: 600;
        color:#394150;
        margin-top:15px;
        
      }
      
      .country-selector, .second-input{
        display: flex;
        justify-content: space-between;
        width:100%;
        max-width:360px;
        min-width:260px;
        height:60px;
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        border-radius: 8px;
        margin-right:5px;
        padding:12px;
        font-weight: 500;
        font-size: 16px;
        color:#394150;
        background-color: #F3F4F6;
        margin-top:15px;
      }
      .continue-button{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #1D1D1F;
        color:#FFFFFF;
        font-weight:500;
        font-size: 16px;
        width:100%;
        max-width:600px;
        min-width:100px;
        height:50px;
        border-width:1px;
        border-style:solid;
        border-color:#D2D5DA;
        border-radius: 8px;
        padding:8px;
        margin-top:20px;
      }
      .second-information-part::div{
        flex:1;
      }

       @media(min-width:641px)and (max-width:1349px) {
      .part-one, .part-tow{
        flex:1;
        width:100%;
        max-width:700px;
        min-width:350px;
  
       }
      .content-container{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        column-gap:0;
        margin-top:40px;
        border-radius:20px;
        overflow: hidden;
        width:90%;
        max-width:1000px;
        min-width:900px;
        box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
      }
      
      .container{
        display:flex;
        justify-content: space-between;
        width:100%;
        max-width:500px;
        min-width:280px;
        flex-wrap: wrap;
        
        margin-bottom:8px;
      }
     
      .country-selector, .second-input{
        display: flex;
        justify-content: space-between;
        width:100%;
        max-width:360px;
        min-width:140px;
        height:60px;
       
      }
     
      }

       @media(max-width:640px){
       .body {
        background-position: center;
      }
      .header{
        margin-top:30px;
      }
       
      .content-container{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        column-gap:0;
        margin-top:25px;
        border-radius:20px;
        overflow: hidden;
        width:90%;
        max-width:1300px;
        min-width:100px;
        box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
      }
       .part-one, .part-tow{
        flex:1;
        width:100%;
        max-width:700px;
        min-width:400px;
  
       }

       .part-one{
        background-color:#E5E7EB;
        height:600px;
        padding:30px;
      }

      .container{
        width:100%;
        max-width: 380px;
        min-width:190px;
        margin-bottom:8px;
      }
     
      .cupon-code{
        display:flex;
        margin-bottom:20px;
        width:100%;
        max-width: 700px;
        min-width:25px;
      }

      .cupon-input{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        max-width:450px;
        min-width:200px;
        height:50px;
        
      }
     
      .cupon-button{
        font-weight:500;
        font-size: 16px;
        width:100%;
        max-width:140px;
        min-width:80px;
        height:50px;
      
      }
     
      .input{
        width:100%;
        max-width:600px;
        min-width:100px;
        height:60px;
        
      }
     
      .second-information-part{
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin-top:15px;
        flex-wrap: wrap;
      }

      .country-selector, .second-input{
        display: flex;
        justify-content: space-between;
        width:80%;
        max-width:220px;
        min-width:120px;
        height:60px;
        
      }
      }



      
     









      

      